html,
body {
    scroll-behavior: smooth;
    min-width: 360px;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
main {
    display: block;
}

#__next  main {
    padding-top: 0px;
}
#__next  main > div {
    padding-top: 20px;
}
.sgSpacer {
    display: none !important;
}

/* Hidden text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
}

@media print {
    html,
    body {
        height: auto;
    }
}
